aiosqlite==0.15.0
asyncpg==0.21.0
atomicwrites==1.4.0
attrs==20.2.0
autopep8==1.5.4
backcall==0.2.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.4
console==0.9904
databases==0.4.0
ezenv==0.91
fastapi==0.61.1
gunicorn==20.0.4
h11==0.11.0
idna==2.10
iniconfig==1.1.1
ipython-genutils==0.2.0
jedi==0.17.2
jupyter-client==6.1.7
jupyter-core==4.6.3
numpy==1.19.3
packaging==20.4
pandas==1.1.4
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==3.0.8
psycopg2==2.8.6
ptyprocess==0.6.0
py==1.9.0
pycodestyle==2.6.0
pydantic==1.7.1
Pygments==2.7.2
pyparsing==2.4.7
pytest==6.1.2
python-dateutil==2.8.1
python-dotenv==0.15.0
pytz==2020.4
pyzmq==19.0.2
requests==2.24.0
six==1.15.0
SQLAlchemy==1.3.20
SQLAlchemy-Utils==0.36.8
starlette==0.13.6
toml==0.10.2
tornado==6.1
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.25.11
uvicorn==0.12.2
wcwidth==0.2.5
